# Arquivos gerados pelo sistema de build
/build
/app/build
/captures

# Arquivos locais de configuração
local.properties
/.idea/
.gradle/

# Logs e arquivos de sistema
*.log
.DS_Store

# Arquivos do Android Studio
*.iml
.idea/workspace.xml
.idea/libraries/
.idea/modules.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml